@charset "utf-8";

$uetomae-black: #222222;
$uetomae-blue: #00a0e9;
$primary: $uetomae-blue;
$link: $uetomae-blue;
$family-primary: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;

$navbar-box-shadow-size: 0 2px 5px 0;
$navbar-box-shadow-color: #ddd;

$menu-item-active-background-color: hsl(0, 0%, 68%);
