%a{name: 'box'}
%section.section
  .content
    %h3.subtitle
      = link_to 'Box', 'https://bulma.io/documentation/elements/box/'
      = link_to 'https://github.com/uetomae/expd-boilerplate/blob/master/app/views/examples/_components_box.html.haml' do
        = fas_icon 'code'
    .box
      .content
        This is a white box to contain other elements.
